name: Check repository

on:
  repository_dispatch:
    types: [check-repository]

  workflow_dispatch:
    inputs:
      repository:
        type: string
        required: true

jobs:
  check-repository:
    name: check repository
    if: |
      github.repository == 'iobroker-bot-orga/check-tasks'
      
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'

      - name: cache
        uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-js-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        run: npm install --omit=dev

      - name: check repository
        run: node checks/checkRepository/checkRepository.js ${{ github.event.inputs.repository }} ${{ github.event.client_payload.url }}
        env:
          OWN_GITHUB_TOKEN: ${{ secrets.IOBBOT_GITHUB_TOKEN }}
          IOBBOT_GITHUB_TOKEN: ${{ secrets.IOBBOT_GITHUB_TOKEN }}

      - name: Push new (statistic) files
        run: bash scripts/commit-and-push.sh
        env:
          GITHUB_TOKEN: ${{ secrets.IOBBOT_GITHUB_TOKEN }}
          BRANCH_NAME: 'main'
