name: Check LATEST repositories

on:
  #repository_dispatch:
  #  types: [check-latest-repositories]

  workflow_dispatch:
    inputs:
      flags:
        type: string
        required: false

  schedule:
    # * is a special character in YAML, so you have to quote this string
    # every friday at 1:00
    - cron:  '30 19 * * 4'

jobs:
  check-latest-repository:
    name: check latest repository
    if: |
      github.repository == 'iobroker-bot-orga/check-tasks'
      
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 20
      - run: npm i
      - run: node checks/checkLatestRepositories/checkLatestRepositories.js ${{ github.event.inputs.flags }} 
        env:
          IOBBOT_GITHUB_TOKEN: ${{ secrets.IOBBOT_GITHUB_TOKEN }}
